@import url('https://fonts.googleapis.com/css2?family=Alata&family=Heebo:wght@500&family=Montserrat:wght@200;300&family=Poppins:wght@200&family=Raleway:wght@200&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style-type: none; 
    outline: none; 
    font-family: 'Poppins';
}
.header{
    width: 100%; 
    position: fixed; 
    z-index: 2;
    background: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.container{ 
    width: 100%; 
    max-width: 1230px; 
    margin: 0 auto; 
    padding: 0 15px; 
} 
.header__container{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px; 
}
.header__menu { 
    display: flex; 
    column-gap: 33px; 
} 
.header__menu > li > a { 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 29px; 
    color: black; 
    width: 60px; 
} 
.header__menu > a > li > button{
    width: 155px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #222222;
    border-radius: 4px;
}
/* 1st Section */
.item{
    background: #E5E5E5;
    width: 100%;
    min-height: 92px;
    min-height: 100vh;
    padding-left: 214px;
    padding-top: 145px;
}
.icon__item{
    width: 192px;
    height: 64px;
}
.item__caption{
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #222222;
    width: 400px;
}
.item__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    width: 385px;
}
.item__button__to__download{
    width: 155px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #222222;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__button__for__read__more{
    width: 155px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #222222;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__box{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.buttons{
    display: flex;
    column-gap: 10px;
}
.item__container{
    display: flex;
    column-gap: 214px;
}
/* 2nd section */
.box{
    width: 379px;
    height: 490px;
}
.wrapper__card{
    position: relative;
    top: -210px;
    background: #222222;
}
.card__container{
    padding-top: 121px;
}
.first__three__boxes{
    padding-top: 45px;
    display: flex;
    column-gap: 16px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block__caption{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block__name{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.images__box{
    display: flex;
    background: #FFFFFF;
    padding-left: 76px;
    padding-top: 40px;
    row-gap: 16px;
    border-radius: 20px;
    width: 379px;
}
.box__icon{
    position: relative;
    top: 200px;
    left: -145px;
    z-index: 1;
}
.box__caption{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0278ED;
}
.box__title{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.box__with__cal{
    padding-top: 48px;
    padding-bottom: 40px;
    position: relative;
    bottom: 220px;
    background: #FFFFFF;
    width: 295px;
    height: 210px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 45px;
}
.second__three__boxes{
    padding-top: 16px;
    display: flex;
    column-gap: 16px;
    padding-bottom: 100px;
}
/* 3rd section */
.wrapper__symbols{
    position: relative;
    top: -210px;
    width: 100%; 
    background: #FF5437;
    padding-bottom: 100px;
}
.symbols__container{
    display: flex;
    column-gap: 178px;
    padding-top: 80px;
    justify-content: center;
}
.symbol__box{
    display: flex;
    flex-direction: column;
}
.integer{
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}
.subinteger{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* footer */
.footer{
    position: relative;
    top: -210px;
    width: 100%;
    background: #F2F2F2;
    padding-bottom: 101px;  
    padding-top: 100px;
}
.footer__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #B1B1B1;
    padding-top: 20px;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    width: 75.01px;
    margin-left: 560px;
    row-gap: 13px;
}
.footer__menu{
    display: flex;
    column-gap: 20px;
    padding-top: 22px;
    justify-content: center;
}
body{
    height: 794px;
}
